name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: brandy-sinche-dev
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push snake
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate snake"
          add: "dist/github-contribution-grid-snake.svg"
